.navbar nav {
  overflow:hidden;
  background-color: #3f3e70;
  padding: 0;
  border: 0;
  top:0;
  height: 100px;
  width: 100%;
}

.navbar a {
  color:white;
  display: block;
  float: left;
  text-align: center;
  padding: 20px, 20px;
  font-size: 24px;
  text-decoration: none;
}

.navbar nav li {
  display: inline;
  padding-right: 20px;
  border:20px red;
  height:100px;
}

.main {
  margin-top: -10px;
  margin-left: -10px;
}
